@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.header{
    background-color: red;
    display: flex;
    justify-content:space-between;
    align-items: center;
    &__logo{
        width: 2.5rem;
        height: 2.5rem;
        padding: 1.5rem 0 0 1.5rem; 
    }
    &__menu{
        padding: 1.45rem 1.5rem 0 0;
        width: 1.5rem;
        height: 1.313rem;
    }
    &__closed{
        // display: none;
    }
}